	<footer>
		<feature>
			<hr>
			<img src="img/csumb.png" height="50px" width="50px" class="d-block center" alt="csumb logo">
		</feature>
		<div class="text-c">
			<p class="small">CST336 Internet Programming. 2020&copy; Sullivan</p>
			<p><a class="small" href="http://www.google.com">Have a question?</a></p>
		</div>
	</footer>
</html>