<%- include('partials/header.ejs') %>
	  
<body>
	  <header>
		<h1>Earth</h1>
	</header>  
	<img src="/img/earth.jpg" alt="earth"><br>
	<nav>
		<a href="/mercury">Mercury</a>
		<a href="/venus">Venus</a>
		<a href="#">Earth</a>
		<a href="/mars">Mars</a>
		<a href="/jupiter">Jupiter</a>
		<a href="/saturn">Saturn</a>
		<a href="/uranus">Uranus</a>
		<a href="/neptune">Neptune</a>
		<a href="/pluto">Pluto</a>
	</nav>
	

	<ul>
		<li>70% of the Earth’s surface is covered in water
			When astronauts first went into the space, they looked back at the Earth with human eyes for the first time, and called our home the Blue Planet. And it’s no surprise. 70% of our planet is covered with oceans. The remaining 30% is the solid ground, rising above sea level.</li>
		<li>Earth is mostly iron, oxygen and silicon
			If you could separate the Earth out into piles of material, you’d get 32.1 % iron, 30.1% oxygen, 15.1% silicon, and 13.9% magnesium. Of course, most of this iron is actually down at the core of the Earth. If you could actually get down and sample the core, it would be 88% iron. 47% of the Earth’s crust consists of oxygen.</li>
		<li>Earth doesn’t take 24 hours to rotate on its axis
			It’s actually 23 hours, 56 minutes and 4 seconds. This is the amount of time it takes for the Earth to completely rotate around its axis; astronomers call this a sidereal day. Now wait a second, that means a day is 4 minutes shorter than we think it is. You’d think that time would add up, day by day, and within a few months, day would be night, and night would be day.</li>
	</ul>
</body>

<%- include('partials/footer.ejs') %>