<%- include('partials/header.ejs') %>
	  
	<body>
	  	<header>
			<h1>Jupiter</h1>
		</header>  
		<img src="/img/jupiter.jpg" alt="jupiter"><br>
		<nav>
			<a href="/mercury">Mercury</a>
			<a href="/venus">Venus</a>
			<a href="/earth">Earth</a>
			<a href="/mars">Mars</a>
			<a href="#">Jupiter</a>
			<a href="/saturn">Saturn</a>
			<a href="/uranus">Uranus</a>
			<a href="/neptune">Neptune</a>
			<a href="/pluto">Pluto</a>
		</nav>
		

		<p>Situated 22° south of Jupiter’s equator, the Great Red Spot is a storm that has been raging for at least 186 years. Upper estimates suggest the storm could have been in existence for over three and a half centuries.</p>
		<p>The first observation of the Great Red Spot was in the seventeenth century, when telescopes first started to be used. However, it is unknown whether this is the same red spot that we see today, or whether Jupiter has had many such storms that have come and gone.</p>
	</body>
	
	<%- include('partials/footer.ejs') %>