<%- include('partials/header.ejs') %>
	  
	<body>
	  	<header>
			<h1>Mars</h1>
		</header>  
		<img src="/img/mercury.jpg" alt="mercury"><br>
		<nav>
			<a href="/mercury">Mercury</a>
			<a href="/venus">Venus</a>
			<a href="/earth">Earth</a>
			<a href="#">Mars</a>
			<a href="/jupiter">Jupiter</a>
			<a href="/saturn">Saturn</a>
			<a href="/uranus">Uranus</a>
			<a href="/neptune">Neptune</a>
			<a href="/pluto">Pluto</a>
		</nav>
		

		<ul>
			<li>Even though Mars has only 15% of the Earth’s volume and just over 10% of the Earth’s mass, around two thirds of the Earth’s surface is covered in water. Martian surface gravity is only 37% of the Earth’s (meaning you could leap nearly three times higher on Mars).</li>
			<li>Mars has two small moons, Phobos and Deimos. They were discovered in 1877 by astronomer Asaph Hall, who named them for the Latin terms “fear” and “panic”. These moons are thought to be captured asteroids and are among the smallest natural satellites in the solar system.</li>
			<li>The Valles Marineris is an extensive canyon system on the Mars equator. It is 4,200 kilometres long and, in places, is 7 kilometres deep. On Earth, it would span the entire North American continent and beyond.
				Mars has has a very primitive form of plate tectonics, and the action of two plates past each other began splitting the surface some 3.5 billion years ago. That set the stage for the formation of the Valles Marineris.</li>
		</ul>
	</body>
	
	<%- include('partials/footer.ejs') %>