	<%- include('partials/header.ejs') %>

	<body>
		<header>
		 <h1>Mercury</h1>
	 </header>  
	 <img src="/img/mercury.jpg" alt="mercury"><br>
	<nav>
		<a href="#">Mercury</a>
		<a href="/venus">Venus</a>
		<a href="/earth">Earth</a>
		<a href="/mars">Mars</a>
		<a href="/jupiter">Jupiter</a>
		<a href="/saturn">Saturn</a>
		<a href="/uranus">Uranus</a>
		<a href="/neptune">Neptune</a>
		<a href="/pluto">Pluto</a>
	 </nav>
	 

	 <ul>
		 <li>One of five planets visible with the naked eye a, Mercury is just 4,879 Kilometres across its equator, compared with 12,742 Kilometres for the Earth.</li>
		 <li>Even though the planet is small, Mercury is very dense. Each cubic centimetre has a density of 5.4 grams, with only the Earth having a higher density. This is largely due to Mercury being composed mainly of heavy metals and rock.</li>
		 <li>As the iron core of the planet cooled and contracted, the surface of the planet became wrinkled. Scientist have named these wrinkles, Lobate Scarps. These Scarps can be up to a mile high and hundreds of miles long.</li>
	 </ul>

 </body>
	  
	  <%- include('partials/footer.ejs') %>