	<%- include('partials/header.ejs') %>
	  
	<body>
	  	<header>
			<h1>Neptune</h1>
		</header>  
		<img src="/img/neptune.jpg" alt="neptune"><br>
		<nav>
			<a href="/mercury">Mercury</a>
			<a href="/venus">Venus</a>
			<a href="/earth">Earth</a>
			<a href="/mars">Mars</a>
			<a href="/jupiter">Jupiter</a>
			<a href="/saturn">Saturn</a>
			<a href="/uranus">Uranus</a>
			<a href="#">Neptune</a>
			<a href="/pluto">Pluto</a>
		</nav>
		
		<p>The Great Dark Spot in the southern atmosphere of Neptune was first discovered in 1989 by the Voyager 2 spacecraft. It was an incredibly large rotating storm system with winds of up to 1,500 miles per hour, the strongest winds recorded on any planet. How such powerful winds were discovered on a planet so far from the sun is still considered a mystery to this day.</p>

		<p>Data from the Voyager 2 spacecraft also showed that the Great Dark Spot varied significantly in size during their brief pass of the planet. When Neptune was viewed by the Hubble Space telescope in 1994 the Great Dark Spot had vanished, although a different dark spot had appeared in Neptune’s northern hemisphere.</p>
	</body>
	
	<%- include('partials/footer.ejs') %>