<%- include('partials/header.ejs') %>
	  
	<body>
	  	<header>
			<h1>Pluto</h1>
		</header>  
		<img src="/img/pluto.jpg" alt="pluto"><br>
		<nav>
			<a href="/mercury">Mercury</a>
			<a href="/venus">Venus</a>
			<a href="/earth">Earth</a>
			<a href="/mars">Mars</a>
			<a href="/jupiter">Jupiter</a>
			<a href="/saturn">Saturn</a>
			<a href="/uranus">Uranus</a>
			<a href="/neptune">Neptune</a>
			<a href="#">Pluto</a>
		</nav>
		

		<p>
			When Pluto elliptical orbit takes it closer to the Sun, its surface ice thaws and forms a thin atmosphere primarily of nitrogen which slowly escapes the planet. It also has a methane haze that overs about 161 kilometres above the surface. The methane is dissociated by sunlight into hydrocarbons that fall to the surface and coat the ice with a dark covering. When Pluto travels away from the Sun the atmosphere then freezes back to its solid state.
		</p>
	</body>
	
	<%- include('partials/footer.ejs') %>