<%- include('partials/header.ejs') %>
	  
<body>
	  <header>
		<h1>Uranus</h1>
	</header>  
	<img src="/img/uranus.jpg" alt="uranus"><br>
	<nav>
		<a href="/mercury">Mercury</a>
		<a href="/venus">Venus</a>
		<a href="/earth">Earth</a>
		<a href="/mars">Mars</a>
		<a href="/jupiter">Jupiter</a>
		<a href="/saturn">Saturn</a>
		<a href="#">Uranus</a>
		<a href="/neptune">Neptune</a>
		<a href="/pluto">Pluto</a>
	</nav>
	

	<p>With minimum atmospheric temperature of -224°C Uranus is nearly coldest planet in the solar system. While Neptune doesn’t get as cold as Uranus it is on average colder. The upper atmosphere of Uranus is covered by a methane haze which hides the storms that take place in the cloud decks.</p>
	<p>Like the other gas giants, it has a hydrogen upper layer, which has helium mixed in. Below that is an icy “mantle, which surrounds a rock and ice core. The upper atmosphere is made of water, ammonia and the methane ice crystals that give the planet its pale blue colour.</p>
</body>

<%- include('partials/footer.ejs') %>