	<%- include('partials/header.ejs') %>
	  
	<body>
	  	<header>
			<h1>Venus</h1>
		</header>  
		<img src="/img/venus.jpg" alt="venus">
		<nav>
			<a href="/mercury">Mercury</a>
			<a href="#">Venus</a>
			<a href="/earth">Earth</a>
			<a href="/mars">Mars</a>
			<a href="/jupiter">Jupiter</a>
			<a href="/saturn">Saturn</a>
			<a href="/uranus">Uranus</a>
			<a href="/neptune">Neptune</a>
			<a href="/pluto">Pluto</a>
		</nav>
		

		<ul>
			<li>A day on Venus lasts longer than a year. 
				It takes 243 Earth days to rotate once on its axis (sidereal day). The planet’s orbit around the Sun takes 225 Earth days, compared to the Earth’s 365. A day on the surface of Venus (solar day) takes 117 Earth days.</li>
			<li>Venus rotates in the opposite direction to most other planets. 
				This means that Venus is rotating in the opposite direction to the Sun, this is also known as a retrograde rotation. One possible reason for this might be a collision with an asteroid or other object.</li>
			<li>Venus is the second brightest object in the night sky. 
				Only the Moon is brighter. With a magnitude of between -3.8 to -4.6 Venus is so bright it can be seen during daytime on a clear day.</li>
		</ul>
	</body>
	
	<%- include('partials/footer.ejs') %>