body {
	background-color: #CBE2F6;
	text-align: center;
}

/* Footer css */
.center {
	margin-left: auto;
	margin-right: auto;
}

.d-block {
	display: block;
}

.text-c {
	text-align: center;
}

.small {
	font-size: 0.5em;
}